# Ignore frontend dependencies
/frontend/node_modules/

# Ignore frontend build output
/frontend/build/
/frontend/dist/

# Ignore frontend environment files
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Logs inside frontend
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# OS files
/frontend/.DS_Store
/frontend/Thumbs.db

# IDE / Editor
/frontend/.vscode/
/frontend/.idea/
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln

# Misc
/frontend/coverage/
/frontend/*.log
